<form [formGroup]="noteConvertorForm">
  <div class="header themed" action-bar>
    <div class="header-right">
      <button type="button" class="btn btn-medium btn-glyph-label xrx-scan" (click)="scan()" [ngClass]="!noteConvertorForm?.valid ? 'disabled' : ''">
        <span>{{this.scanTitle}}</span>
      </button>
    </div>
    <div class="header-middle text-large">
      <div class="header-title-container text-large">
        <div class="header-title text-large">
          <span>{{this.xeroxTitle}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="node-convertor form_updated" style="position:relative;overflow:hidden;" ngScrollable='{"autoHeight": true, "watchHeight": true}'>
    <div class="section-1 header themed">
      <div class="form">
        <div class="form-group">
          <input type="email" formControlName="email" class="form-control focus_textbox" name="" placeholder="{{this.emailPlaceHolder}}" />
        </div>
        <p *ngIf="f['email'].hasError('email') && f['email'].touched" class="error_updated" style="text-align: left;">
          <i class="fa fa-exclamation-triangle"></i>&nbsp;{{this.emailValidation1}}
        </p>
        <div class="form-group">
          <input type="email" formControlName="confirmEmail" class="form-control focus_textbox" name="" placeholder="Confirmation Email" />
        </div>
        <p *ngIf="f['confirmEmail'].hasError('email') && f['confirmEmail'].touched" class="error_updated" style="text-align: left;">
          <i class="fa fa-exclamation-triangle"></i>&nbsp; {{this.emailValidation1}}
        </p>
        <p *ngIf="noteConvertorForm.hasError('emailsMatch') && f['confirmEmail'].touched" class="error_updated" style="text-align: left;">
          <i class="fa fa-exclamation-triangle"></i>&nbsp; Email addresses do not match.
        </p>
        <div class="definediv">
          <table class="row-container">
            <tr>
              <td>
                <input type="text" id="txtFileName" class="form-control focus_textbox" [placeholder]="fileName" formControlName="fileName" />
              </td>
              <td>
                <button type="button" (click)="openFileFormat();" class="btn btn-xlarge">
                  {{selectedFileFormatOptions.title}}
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="separator"></div>

    <!--Scan Features  -->
    <div class="grid-row option-content">
      <div class="section-2">
        <ul class="action-list">
          <li>
            
              <div class="row button_click">
                <button  class="btn btn-Scanmedium btn-image" (click)="openScan();" tabindex="-1">
                <div class="image-container rounded">
                    <img class="image" src="assets/Content/Images/{{this.selectedType.icon}}">
                </div>

                <div class="text-container">
                  <span class="left-text" xasString={{this.selectedType.title}}></span>
                
                  <span class="right-text" xasString={{this.selectedTypeOptions.title}}></span>
                </div>
                </button>
              </div>
            
          </li>
          
          <li>
            <div class="row button_click">
              <button  class="btn btn-Scanmedium btn-image" (click)="openSize();" tabindex="-1">
                <div class="image-container rounded">
                    <img class="image" src="assets/Content/Images/{{this.selectedSize.icon}}">
                </div>
  
                <div class="text-container">
                  <span class="left-text" xasString={{this.selectedSize.title}}></span>
                
                  <span class="right-text" *ngIf="this.resourceString[selectedSizeOptions.title] != null">{{this.resourceString[selectedSizeOptions.title]}}</span>
          
                  <span class="right-text" *ngIf="this.resourceString[selectedSizeOptions.title] == null">{{ this.selectedSizeOptions.title}}</span>
              </div>
            </button> 
            </div>
          </li>
        </ul>
        <div class="definediv">
          <table class="row-container">
            <tr>
              <td>
                <button class="btn btn-flarge" (click)="resetForm()">{{this.resetTitle}}</button>
              </td>
              <td>
                <button class="btn btn-flarge" (click)="showPrivacyStatement();">{{this.privacyStatementTitle}}</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
   

</form>
<div class="loader" *ngIf="showLoader">
  <img src="../assets/Images/loader.gif" alt="loader" />
</div>