<div class="custom-container">
  <div class="content">
    <form [formGroup]="noteConvertorForm">
    <div class="node-convertor  form_updated">
      <div class="section-1">
        <h1 class="text-center">Xerox® Note Converter        
           <button class="btn scan-btn xrx-scan" (click)="scan()" [ngClass]="!noteConvertorForm?.valid ? 'disabled' : ''">            
            Scan
          </button>
        </h1>
        <div class="note"></div>
        <div class="form">
          <div class="form-group">
            <input type="email" formControlName="email" class="form-control" name="" placeholder="Enter email to receive text file"/>
          </div>
          <p *ngIf="f['email'].hasError('email') && f['email'].touched"  class="error_updated">Please enter a valid email address.</p>
          <div class="form-group">
            <input type="email" formControlName="confirmEmail" class="form-control" name="" placeholder="Confirmation Email"/>
          </div>
           <p *ngIf="f['confirmEmail'].hasError('email') && f['confirmEmail'].touched"  class="error_updated">Please enter a valid email address.</p>
           <p *ngIf="noteConvertorForm.hasError('emailsMatch') && f['confirmEmail'].touched"  class="error_updated">Email addresses do not match.</p>
          <div class="row">
            <div class="col-sm-10 col-xs-7">
              <div class="">	
                <div class="">	
                   <!--<input type="text" id="txtFileName" class="form-control" placeholder="File Name" formControlName = "fileName" />-->	<!--[(ngModel)]="fileName" (click)="onFileNameClick()" -->
                   <!-- <input type="text" id="txtFileName" class="form-control" [placeholder]="getDefaultFileName()" formControlName="fileName" [(ngModel)]="fileName" 
                   (click)="onFileNameClick()" (blur)="onFileNameBlur()" /> -->
                    <span id="txtFileName" class="form-control" placeholder="File Name" #fileNameSpan appEditableFileName>
                    @ Xerox Scan
                  </span> <!---->
                  </div>	
              </div>
            </div>
            <div class="col-sm-2 col-xs-5">
              <div class="">	
                <div (click)="openFileFormat();" class="file-type form-control" >	<!---->
                  {{selectedFileFormatOptions.title}} 	
                </div>	
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section-2">
        <ul>
          <li>
            <div class="row button_click"> 
              <div class="button_event_1" (click)="openScan();"></div> 	
              
             
              <div class="col-lg-6 col-xs-6">	
                <table>
                  <tr>
                    <td>
                      <div class="d-inline-block image_updated">	
                        <img class="img-fluid" src="assets/Content/Images/{{selectedType.icon}}">	
                      </div> 
                    </td>
                    <td>
                      <span class="text-left" xasString="{{selectedType.title}}"></span> 	
                    </td>
                  </tr>
                </table>
              </div>	
                
              <div class="col-lg-6 col-xs-6 text-end content_updated">                   	
                <span  class="text-right"  >{{selectedTypeOptions.title}}</span>   <!---->                 	
              </div>            	
            </div>	
                
              </li>            	
              <li>            	
             <div class="row button_click" > 	
              <div class="button_event_2" (click)="openSize();"></div> 	
              <div class="col-lg-6 col-xs-6 ">	
                <table>
                  <tr>
                    <td>
                      <div class="d-inline-block image_updated">	
                        <img class="img-fluid" src="assets/Content/Images/{{selectedSize.icon}}">	
                      </div>    
                      </td>
                      <td>
                        <span class="text-left" >{{selectedSize.title}}</span> 	<!--xasString=""-->
                      </td>
                      </tr>
                </table>
                        	
              
              </div>	
                   
              <div class="col-lg-6 col-xs-6 text-end content_updated"> 	
                <span class="text-right" >{{selectedSizeOptions.title}}</span>  <!---->	
              </div>         	
            </div>            	
            </li>          
          
        </ul>
        <div class="reset-privacy">
          <div class="row">
            <div class="col-lg-6 col-xs-6">
              <button class="btn" (click)="resetForm()">Reset</button>
            </div>
            <div class="col-lg-6 col-xs-6 ">	
              <button class="btn" (click)="showPrivacyStatement();">Privacy Statement</button>	
            </div>
          </div>
        </div>
        
          
        </div>
      
    </div>
    </form>
  </div>
</div>

<div class="loader" *ngIf="showLoader">
    <img src="../assets/Images/loader.gif" alt="loader"/>
</div>