 <div class="alert-popup alert-background alert-opacity alert_bg" role="alertdialog" aria-labelledby="myAlertPopupDialogTitle" tabindex="-1" style="display: block;">
    <div class="alert-container">
        <div class="alert-content">
            <div class="progress-spinner"></div>
            <h3 ng-if="$ctrl.resolve.title" class="alert-title" xas-string="">is scanning</h3> <!--{{$ctrl.resolve.title}} {{$ctrl.resolve.title}}-->
            <p ng-if="$ctrl.resolve.body">
                <span class="alert-additional-info" xas-string=""></span><!--{{$ctrl.resolve.body}} {{$ctrl.resolve.body}}-->
            </p>
        </div>
    </div>
</div> 
<!--<div>Test</div>-->