<div  class="alert-popup alert-background alert-opacity">
    <div class="alert-container">
        <div class="alert-content">
            <!-- <div class="progress-spinner"></div> -->
            <img src="../../../assets/Content/Images/spin.gif "> 
            <h3 *ngIf="data.title" class="alert-title" xas-string="">{{data.title}}</h3> 
            <p *ngIf="data.message">
                <span class="alert-additional-info" xas-string="">{{data.message}}</span>
            </p>
    </div>
    </div>
</div>