@import '../../../assets/Content/Styles/text.scss';

privacy-policy {
    .popup-content {
      height: 396px;
      overflow: hidden;
  
      @media (min-width: 1024px) {
        height: 522px;
      }
    }
  
    .privacy-policy-content {
      padding: 15px;
      white-space: pre-wrap;
      @extend .text-small !optional;
  
      background:url(../../../assets/Content/Images/Textures/gray_little_dark.png);
  
      @media (min-width: 1024px) {
        padding: 16px;
      }
    }
  
    .version {
      font-size: 24px;
  
      &:before {
        content: "\00a0 (";
      }
  
      &:after {
        content: ")";
      }
    }
  }