<div class="document-save-popup">
    <h2>Document Successfully Scanned.</h2>
    <div class="note">You will receive an email from Xerox Note Converter with your text file.</div>
    <div class="close-wrp">
        <button (click)="closeDialog()" class="close-btn">
            <svg aria-label="Close" viewBox="0 0 24 24" class="StyledIcon-sc-ofa7kd-0 gQdohk"><path fill="none" stroke="#fff" stroke-width="2" d="m3 3 18 18M3 21 21 3"></path></svg>
            <span>Close</span> 
        </button>
    </div>
</div>