.document-save-popup{
    background-color: #000;
    position: absolute;
    text-align: center;
    padding: 20px 20px;
    .close-wrp{

        .close-btn{
            border: 1px solid #ccc;
            background: transparent;
            color: #fff;
            height: 38px;
            padding: 8px 15px;
            border-radius: 5px;
            font-size: 16px;
            svg{
                width: 18px;
                vertical-align: text-bottom;
                margin-right: 6px;
            }
        }
    }
    
    h2{
        font-size: 20px;
        color: #fff;
        margin-bottom: 20px;
    }
    .note{
        font-size: 16px;
        color: #ccc;
        margin-bottom: 20px;
    }
}