/* You can add global styles to this file, and also import other style files */
.cdk-overlay-pane{
    width: 400px;
    max-width: 80vw;
    position: absolute !important;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: transparent;
}
.cdk-dialog-container{
    background-color: transparent;
    box-shadow: none;    
}

.cdk-overlay-backdrop.custom-backdrop-color{
    background-color: rgb(0 0 0 / 80%);
}