/* You can add global styles to this file, and also import other style files */
.cdk-overlay-pane{
    width: 400px;
    max-width: 80vw;
    position: absolute !important;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: transparent;
}
.cdk-dialog-container{
    background-color: transparent;
    box-shadow: none;    
}

.cdk-overlay-backdrop.custom-backdrop-color{
    background-color: rgb(0 0 0 / 80%);
}



@import 'assets/Content/Styles/text.scss';
@import 'assets/Content/Styles/colors.scss';
@import 'assets/Content/Styles/shadows.scss';
@import 'assets/Content/Styles/modals.scss';
@import 'assets/Content/Styles/glyphs.scss';
//@import 'assets/Content/Styles/grid.scss';
@import 'assets/Content/Styles/buttons.scss';
@import 'assets/Content/Styles/site.scss';


.form_updated .form-group
{
    margin:10px 0px;
}
.image_updated
{
    margin-right:10px;
}
.content_updated
{
    padding:10px 20px 10px 0px;
}
.error_updated
{
    color:red;
}
.privacy_updated
{
    padding:0px !important;
    margin: 0px !important;
    width: 100% !important;
    top:10%;
}
.privacy_content
{
    
}
.privacy_content .privacy-policy-content
{
    background: none !important;
    padding:10px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 19px;
    white-space: pre-wrap;
    overflow-y: scroll;
    height: 550px;
}
.privacy_content .privacy_scroll-container
{
    background: #fff;
}
.popup_updated
{
    --bs-popover-max-width:100% !important;
    width: 100%;
    top: 10%;
}
.popup_updated .header-right
{
 float:right;
}
.popup_updated .contents
{
width:100%;
clear:both;
}
.popover .xrx-close
{
    width: auto !important;
    background: #ddd;
    color:#000;
}
.action-list li:hover
{
    background: #000;
    color:#fff;
}
.mat-dialog-container
{
    padding:0px !important;
    overflow: hidden !important;
}